<!DOCTYPE html>
<html>
  <head>
    <title>CodeConnection</title>
    <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <% flash.each do |type, value| %>
  	  <%= value %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
